<p>
    <mat-toolbar color="primary">
        <span (click)="devModeToggle()">Workutrack</span>
        <span class="example-spacer"></span>
        <div class="example-button-row">
            <button mat-raised-button color="secondary" (click)="workoutList = true">Workout List</button>
            <button mat-raised-button color="secondary" (click)="workoutList = false">Weight</button>
        </div>
    </mat-toolbar>
</p>
<div class="calendar-body" *ngIf="workoutList">
    <div class="date">Today is {{today | date}}</div>
    <div class="heading">Todays list:</div>
    <div class="container">
        <div (click)="toggleSit = !toggleSit" [ngClass]="{ 'done': toggleSit }">Sit-ups: {{dataToDisplay.sitUps}}</div>
        <div (click)="toggleSqt = !toggleSqt" [ngClass]="{ 'done': toggleSqt }">Squats: {{dataToDisplay.squat}}</div>
        <div (click)="togglePush = !togglePush" [ngClass]="{ 'done': togglePush }">Push-ups: {{dataToDisplay.pushUps}}
        </div>
        <div (click)="togglePlank = !togglePlank" [ngClass]="{ 'done': togglePlank }">Plank: {{dataToDisplay.plank}} sec
        </div>
        <div class="heading">Movement:</div>
        <div (click)="toggleMove = !toggleMove" [ngClass]="{ 'done': toggleMove }">Time: {{dataToDisplay.time}} min
        </div>
        <div (click)="toggleMove = !toggleMove" [ngClass]="{ 'done': toggleMove }">Steps: {{dataToDisplay.steps}}</div>
        <div (click)="toggleMove = !toggleMove" [ngClass]="{ 'done': toggleMove }">Running: {{dataToDisplay.running}}
            min
        </div>
    </div>
</div>
<ng-container *ngIf="!workoutList">
    <div class="calendar-body weight">
        <form class="example-form">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Weight" type="number" [(ngModel)]="weight" name="weight">
            </mat-form-field>
            <button mat-raised-button color="primary" (click)="addWeight()">
                <mat-icon>done</mat-icon>
            </button>
        </form>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef> Date </th>
                <td mat-cell *matCellDef="let element"> {{element.date | date}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="weight">
                <th mat-header-cell *matHeaderCellDef> Weight </th>
                <td mat-cell *matCellDef="let element"> {{element.weight}} kg</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>

</ng-container>

<div class="started">Started on {{started | date}}</div>
<div *ngIf="devMode" class="dev">
    <div>
        <span class="dev-head">Even</span>
        <button (click)="devLvl('even', '+')">+</button>
        <button (click)="devLvl('even', '-')">-</button>
    </div>
    <div>
        <span class="dev-head">Weekly</span>
        <button (click)="devLvl('week', '+')">+</button>
        <button (click)="devLvl('week', '-')">-</button>
    </div>
    <div>
        <span class="dev-head">Monthly</span>
        <button (click)="devLvl('month', '+')">+</button>
        <button (click)="devLvl('month', '-')">-</button>
    </div>
</div>