.mat-toolbar {
  padding-right: 0px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin-top: 20px;
  text-align: center;
}

.example-full-width {
  width: 50%;
}

table {
  width: 100%;
}

.example-spacer {
  flex: 1 1 auto;
}

.example-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}

.dev {
  z-index: 10;
  position: absolute;
  bottom: 0px;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-content: center;
  div {
      position: relative;
    .dev-head {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        top: -5px;
    }
    button {
      width: 50px;
      padding: 5px;
      margin: 5px;
    }
  }
}

.negative {
    color: red;
}
.mat-dialog-container {
    .mat-dialog-content {
        text-align: center !important;
    }
    
    .mat-dialog-actions {
        justify-content: space-between !important;
    }
}


.positive {
    color: rgb(25, 163, 25);
}

.calendar-body {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 30px;
  margin-top: 26px;

  &.weight {
    width: 100%;
    top: 50%;
    height: 100%;
    margin-top: 56px;
    overflow: scroll;
    margin-bottom: 10px;
    text-align: left;
  }

  table {
    margin-bottom: 30px;
  }

  .date {
    margin-bottom: 20px;
    line-height: 30px;
  }
  .heading {
    font-size: 35px;
    text-decoration: underline;
    margin-bottom: 7px;
  }
  .container {
    white-space: nowrap;
    div {
      padding: 13px;
    }
  }
}

.level {
  position: absolute;
  top: 5px;
  right: 5px;
  background: none;
  border: 1px solid black;
  border-radius: 16px;
  padding: 10px;
}

.done {
  color: gray;
  text-decoration: line-through;
}

.started {
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 10px;
  bottom: 0px;
  background: white;
}
